<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">

    <!-- afegeixo referencia a makepdf js -->
    <script src="statics/js/pdfmake.min.js"></script>
    <script src="statics/js/vfs_fonts.js"></script>
    <!-- ******************************** -->



    <!-- afegeixo referencies per al CheckList bo -->
    <script type="text/javascript" src="statics/checkList/paginesJS/pagina_Capsalera.js"></script>
    <script type="text/javascript" src="statics/checkList/paginesJS/pagina01.js"></script>
    <script type="text/javascript" src="statics/checkList/paginesJS/pagina05.js"></script>
    <script type="text/javascript" src="statics/checkList/paginesJS/pagina06.js"></script>
    <script type="text/javascript" src="statics/checkList/paginesJS/pagina07.js"></script>
    <script type="text/javascript" src="statics/checkList/paginesJS/pagina08.js"></script>
    <script type="text/javascript" src="statics/checkList/paginesJS/pagina09.js"></script>
    <script type="text/javascript" src="statics/checkList/paginesJS/pagina10.js"></script>
    <script type="text/javascript" src="statics/checkList/paginesJS/pagina11.js"></script>
    <script type="text/javascript" src="statics/checkList/paginesJS/pagina12.js"></script>
    <script type="text/javascript" src="statics/checkList/paginesJS/pagina13.js"></script>
    <script type="text/javascript" src="statics/checkList/paginesJS/pagina14.js"></script>
    <script type="text/javascript" src="statics/checkList/paginesJS/pagina15.js"></script>
    <script type="text/javascript" src="statics/checkList/clases.js"></script>
    <!-- ******************************** -->

    <script src="https://github.com/devongovett/pdfkit/releases/download/v0.10.0/pdfkit.standalone.js"></script>
    <script src="https://github.com/devongovett/blob-stream/releases/download/v0.1.3/blob-stream.js"></script>
    <!-- <script src="statics/checkList/pdfkit.standalone.js"></script> -->
    <!-- <script src="statics/checkList/blob-stream.js"></script> -->
    <script src="statics/checkList/canvas2pdf.js"></script>




    <link rel="icon" type="image/png" href="statics/app-logo-128x128.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png">
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
